* {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 50px;
}
.btn button {
  padding: 20px;
  border-radius: 50px;
  background: purple;
  font-size: 35px;
}

.show {
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  background: purple;
  font-size: 35px;
  width: 50px;
}

